* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:#033b60;
}

header {
    width: auto;
    height: auto;
    background-color: azure;
    opacity: 30;
}

div {
	padding: 30px;
	height: 140px;
	width: 540px;
	text-align: center;
	border-radius: 7px;
	background-color: silver;
	opacity: 80%;
}

h1{
    padding: auto;
}



.ingreso-datos {
	display: inline-block;
	position:fixed;
	top:230px;
	left: 50px;
    font-family: 'Rajdhani', sans-serif;
}

.salida-datos {
	display: inline-block;
	position: fixed;
	top:230px;
	right: 50px;
    font-family: 'Rajdhani', sans-serif;
}


#parrafo {
    text-align: center;
    font-size: 15px;
    color: #033b60;
    font-family: 'Rajdhani', sans-serif;
}

.parrafo {
    text-align: center;
    font-size: 20px;
    color:#033b60;
    font-family: 'Rajdhani', sans-serif;
}

.barra-nav {
    width: auto;
    height: 30px;
    background-color: rgb(27, 27, 27);
}

#titulo {
    text-align: center;
    font-size: 36px;
    color: #033b60;
    font-family: 'Montserrat Alternates', sans-serif;

}

.subtitulos {
    text-align: center;
    font-size: 20px;
    color: #033b60;
    font-family: 'Rajdhani', sans-serif;
}

.subtitulo-2 {
    margin: 10px;
    text-align: center;
    font-size: 10px;
    font-family: 'Rajdhani', sans-serif;
}

p {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}


canvas {
    width: 1365px;
    height: 480px;
}

input {
    margin: 5px;
    background-color: black;
    width: 500px;
    height: 30px;
    border-color: #2c8ccc;
    border-radius: 7px;
    color: #2c8ccc;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-weight: bolder;

}

button {
    background-color: black;
    margin-top: 5px;
    width: 150px;
    height: 30px;
    border-radius: 7px;
    border-color: #2c8ccc;
    color: azure;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
}

footer {
    background-color: rgb(27, 27, 27);
    width: auto;
    margin-top: 10px;
	height: 20px;
    font-family: 'Rajdhani', sans-serif;
    font-size: small;
    text-align: center;
    color: silver;
}